.good {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 115px;
  height: 10px;
  margin: 0 auto;
}

.good:hover {
  transform: scale(2);
}

.clk{
cursor: pointer;
}

.back{
background-color:slateblue;


}
